.container { padding-inline: 12px; }

.section { padding-block: var(--section-padding); }




header {
    position: relative;
    background-color: black;
    width: 100%;
    overflow: hidden;
}

.display-3{
  font-size: 20rem;
  max-width: 100%;
}

.container {
  position: relative;
  z-index: 2;

}



.main-heading{
  position: relative;
  top: 10vh;
}
.main-heading h2 {
  font-size: 86px;
  font-weight: bold;
  color: rgb(225, 139, 19);
}
.main-heading h1 {
  font-size: 46px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.info-text {
  font-size: 16px;
  color: #666;
}

.cta {
  background:  rgb(238, 128, 3);
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.cta:hover {
  background: rgb(238, 78, 3);
}

.btn_wrapper {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.view_more_btn {
  background-color: #007bff;
  color: #fff;
}

.btn.documentation_btn {
  background-color: #28a745;
  color: #fff;
  margin-left: 10px;
}

.btn.view_more_btn:hover,
.btn.documentation_btn:hover {
  background-color: #0056b3;
}

.team_img_wrapper img {
  width: 200vh;
  height: 200vh;
  display: block;
  border-radius: 5px;
  position: relative;
  margin-left: -35vw;
  margin-top: -70vh;

}

@media screen and (max-width: 1478px) {
  .team_img_wrapper img {
    margin-left: -40vw;
    margin-top: -70vh;
  }
}

@media screen and (max-width: 1220px) {
  .display-3 {
    font-size: 15rem;
  }
}

@media screen and (max-width: 1131px) {
  .team_img_wrapper img {
    margin-left: -60vw;
    margin-top: -70vh;
  }
}

@media screen and (max-width: 992px) {
  .display-3 {
    font-size: 10rem;
  }
}

@media screen and (max-width: 900px) {
  .team_img_wrapper img {
    left: 0vw;
    margin-top: -65vh;
  }
}

@media screen and (max-width: 600px) {
  .team_img_wrapper img {
    display: none;
  }
  .wrapper {
    height: 100vh;
  }
  .display-3 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 485px) {
  .main-heading h2 {
    font-size: 60px
  }
  .main-heading h1 {
    font-size: 40px
  }
  .cta {
    width: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 340px) {
  header {
    padding-top:30px;
  }
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: 130px; }

.hero-title {
  text-transform: uppercase;
  word-break: break-all;
}

.hero-subtitle {
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  color: var(--white);
  letter-spacing: 2px;
  line-height: 1.5em;
  margin-block: 10px 30px;
}

.hero-banner {
  border-radius: var(--blob-radius);
  overflow: hidden;
  animation: blobAnim 30s linear infinite;
 
}

@keyframes blobAnim {

  0%,
  100% { border-radius: var(--blob-radius); }

  10% { border-radius: 33% 67% 50% 50% / 43% 39% 61% 57%; }

  20% { border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%; }

  30% { border-radius: 51% 49% 56% 44% / 45% 39% 61% 55%; }

  40% { border-radius: 66% 34% 33% 67% / 48% 71% 39% 52%; }

  50% { border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%; }

  60% { border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%; }

  70% { border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%; }

  80% { border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%; }

  90% { border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%; }

}

.hero .section-text { margin-block: 30px; }

.hero .btn { margin-inline: auto; }




