<div id="app-container">
  <div class="container-struct">
    <app-header [activePage]="activePage" [profile]="profile" *ngIf="!loading"></app-header>


    <div *ngIf="!loading; else showSpinner" class="w-100 page-content" style="height: 100vh; overflow: hidden;">

      <!-- Ici le contenu de la page -->
      <header>
        <div class="container h-50">
          <div class="d-flex text-center align-items-center">
            <div class="text-white">
              <p class="lead mb-0"></p>
              <h1 class="display-3">SkyFind</h1>
            </div>
          </div>
        </div>
      </header>

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">SKIFIND</h1>

            <p class="hero-subtitle">
            Application AngularJs

            </p>

            <div class="hero-banner">
              <img src="./assets/images/Dark Blue Glitch Texture Coming Soon Instagram Post.png" width="500" height="500" alt="kane williams" class="w-100">
            </div>

            <p class="section-text">
              Bienvenue,je vous presente mon application d'informations météorologiques et de geolocalisation.
            </p>

            <div class="text-center pt-5">
              <a routerLink="/wx" class="btn btn-warning text-white cta" href="#">Voir les conditions météo</a>
            </div>

           

          </div>

        </div>
      </section>


    </div>
    <ng-template #showSpinner>
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
